{% extends "base.html" %}

{% block content %}

<section class="patient-dashboard">

<div class="dashboard-container">

<h2>Welcome to Patient Dashboard</h2>

{% if request.args.get('success') %}
<div class="success-message" id="successMsg">
    {{ request.args.get('success') }}
</div>

<script>
setTimeout(()=>{
document.getElementById("successMsg").style.display="none";
},3000);
</script>
{% endif %}

<div class="dashboard-actions">

<a href="/my_record" class="dash-btn">View My Medical Record</a>

<a href="/book_appointment" class="dash-btn">Book Appointment</a>

<a href="/my_appointments" class="dash-btn">View My Appointments</a>

</div>

</div>


<div class="patient-right">

<img src="/static/img/patient_dashboard.png" alt="Patient Portal">

</div>

</section>

{% endblock %}
