{% extends "base.html" %}

{% block content %}

<h2>Register</h2>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

<form method="POST">

<label>Name</label>
<input type="text" name="name" required>

<label>Email</label>
<input type="email" name="email" required>

<label>Password</label>
<input type="password" name="password" required
pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}"
title="Password must contain 8 characters, uppercase, lowercase, number and symbol">

<label>Role</label>

<select name="role">
<option value="patient">Patient</option>
<option value="clinician">Clinician</option>
</select>

<button type="submit">Register</button>

</form>

{% endblock %}